.super-title {
  height: 1rem;
}

.double-duo {
  height: 7rem;
}

.super-container {
  border: 2px solid rgb(207, 206, 206);
  width: 20rem;
  height: 10rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.super-info {
  color: grey;
  font-weight: bold;
}

.super-button {
  color: white;
  background-color: rgb(60, 77, 255);
  font-weight: bold;
  padding: 1rem;
  border-radius: 15px;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  font-size: 1rem;
  border: none;
}

.super-button:hover {
  background-color: rgb(80, 95, 250);
}

.super-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.league-container {
  border: 2px solid rgb(207, 206, 206);
  width: 20rem;
  height: 8rem;
  padding: 1rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-radius: 15px;
  flex-direction: column;
  gap: 2rem;
}

.league-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.league-body-container {
  display: flex;
  gap: 1rem;
}

.sapphire {
  height: 4rem;
}

.ranked-quote {
  color: grey;
  font-weight: bold;
}

.view-league {
  color: rgb(0, 153, 255);
  font-weight: bold;
}
