.writing-exercise-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.individual-exercise-container {
  width: 30rem;
  height: 20rem;
  margin-top: 7rem;
}

.prompt {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.test-word {
  height: 3rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.evil-duo {
  height: 6rem;
}

.progress-bar {
  width: 40rem;
  position: relative;
}

.close {
  position: absolute;
  left: -5%;
  top: -25%;
}

.background-bar {
  background-color: rgb(229, 229, 229);
  height: 0.8rem;
  border-radius: 10px;
}

.coloured-bar {
  background-color: rgb(88, 204, 2);
  height: 0.8rem;
  width: 20rem;
  margin-top: -0.8rem;
  border-radius: 10px;
}

.image-and-word-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3rem;
  gap: 1rem;
}

.test-word:before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: white;
  border-top: 2px solid black;
  border-left: 2px solid black;
  transform: rotate(315deg);
  margin-right: 100px;
}

.test-word {
  border: 2px solid black;
  padding: 0.5rem;
}

.word-input {
  width: 70%;
  border-radius: 10px;
  padding: 0.3rem;
  border: 1px solid grey;
}

.bottom-buttons-container {
  display: flex;
  margin-top: 10rem;
  width: 150%;
  justify-content: space-between;
  align-items: center;
  margin-left: -8rem;
}

.correct-true,
.incorrect-true {
  margin-top: 15rem;
}

.check {
  background-color: green;
  color: white;
  padding: 0.5rem;
  width: 7.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 7px;
}

.skip {
  color: grey;
  padding: 0.5rem;
  width: 6rem;
  border: 1px solid grey;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skip:hover {
  background-color: rgb(224, 224, 224);
}

.success {
  color: green;
  font-weight: bold;
  font-size: 1.2rem;
}

.incorrect {
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
}
